@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

header {
  color: rgb(159, 250, 220);
}

button {
  background-color: rgb(114, 240, 198);
  color: black;
}

button.secondary {
  background-color: lightgray;
  color: darkgray;
}

.highlight {
  background-color: #fef08a;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  color: black;
}
