@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  color: rgb(159, 250, 220);
}

button {
  color: rgb(114, 240, 198);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
